parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$string of function str_pad expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/PasienBaruController.php

		-
			message: '#^Parameter \#1 \$string of function str_pad expects string, \(float\|int\) given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/PendaftaranLanjutan2Controller.php

		-
			message: '#^Parameter \#1 \$string of function str_pad expects string, \(float\|int\) given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/RegistrasiKunjunganController.php

		-
			message: '#^Class App\\Models\\Visit not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Models/Patient.php

		-
			message: '#^Parameter \#1 \$related of method Illuminate\\Database\\Eloquent\\Model\:\:hasMany\(\) expects class\-string\<Illuminate\\Database\\Eloquent\\Model\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Models/Patient.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$fillable is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$fillable\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php

		-
			message: '#^PHPDoc type array\<int, string\> of property App\\Models\\User\:\:\$hidden is not covariant with PHPDoc type list\<string\> of overridden property Illuminate\\Database\\Eloquent\\Model\:\:\$hidden\.$#'
			identifier: property.phpDocType
			count: 1
			path: app/Models/User.php
